body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.card {
    margin: 10px auto;
    border: 1px solid #031032;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
.card:hover {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: pointer;
}
.center {
    margin-bottom: 20px;
    background-color: #b5b6b7;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 8px;
    position: relative;
}
.center button {
    position: absolute;
    left: 10px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-align: right;
}
.center button:hover {
    background-color: #ffffff;
}
.ui.button.blue{
    background-color: #0080ff;
}
.ui.button.blue:hover{
    background-color: #fc8f47;
}
.buttonF {
    text-align:center;
}
.ui button.red.tiny {
    background-color: #5143f0;
}
.ui button.red.tiny:hover {
    background-color:#ffad06;
    transition: 1s;
}

.ui.segment.big {
    font-size: 1em;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border:none;
}
.meta{
    font-family: Verdana,Tahoma, sans-serif;
    font-size: 1.3em;
    color: black;
}
.ui.button.blue{
    background-color: #5143f0;
}
.ui.button.blue:hover{
    background-color:#ffad06;
    transition: 1s;
}
.register {
    text-align: center;
    margin-top: 20px;
}

.ui.form{
    text-align: center;
}