body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.card {
    margin: 10px auto;
    border: 1px solid #031032;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
.card:hover {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: pointer;
}
.center {
    margin-bottom: 20px;
    background-color: #b5b6b7;
    padding: 10px;
    font-size: 2em;
    font-weight:bold;
    text-align: center;
    border-radius: 8px;
    position: relative;
    width: 95%;
    align-items: center;
}
.center button {
    position: absolute;
    left: 3%;
    top: 10%;
    background: none;
    border: none;
    cursor:context-menu;
    font-size: 1em;
    cursor: pointer;
    text-align: right;
}
.center button:hover {
    background-color: #ffffff;
}
body{
    text-align: center;
}
.image3{
    height: 100px;
    max-width: 600px;
}